**/4_videos
M_xx_
node_modules

M_8_HTML_Imports/2_practica/imports/node_modules
M_8_HTML_Imports/2_practica/imports/dist
M_8_HTML_Imports/2_practica/imports/.cache

M_8_HTML_Imports/2_practica/import-VS-ES6-Playground/node_modules
M_8_HTML_Imports/2_practica/import-VS-ES6-Playground/dist
M_8_HTML_Imports/2_practica/import-VS-ES6-Playground/.cache

M_8_HTML_Imports/3_entregas/1_ES6/node_modules
M_8_HTML_Imports/3_entregas/1_ES6/dist
M_8_HTML_Imports/3_entregas/1_ES6/.cache

M_8_HTML_Imports/3_entregas/2_CommonJS/node_modules
M_8_HTML_Imports/3_entregas/2_CommonJS/dist
M_8_HTML_Imports/3_entregas/2_CommonJS.cache