body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

input {
    width: 8%;
    padding: 4px 4px;
    margin: 4px 0;
    box-sizing: border-box;
  }
div {
    background-color: rgb(226, 250, 250)
}